@media(min-width:768px){
	
		/* Set Container Settings */
		
		.container-1{
		display:flex;
		justify-content:center;
		flex-wrap:wrap;
		
		}
	
	}
	
	.container-1 div{
		border:1px #666 solid;
		padding:10px;
		 
	}
	
		
	/* Set song-box Settings */
	
	.lyricBox{
		/* box */
		margin-top: 25px;
		flex:1;
		order:2;
		background: rgba(76, 175, 80, 0.6);
		margin-bottom: 20px;
		
		/* Text */
		color: white;
		font-size: 20px;
	}


		
	/* Set physical Settings */
	
	
h1{
	text-decoration:underline;
	color:rgb(0, 255, 153);
	font-family:Comic Sans MS;
	text-shadow: 1px 2px #ff0000;
}



body{
	background-image:url("img/Pub.jpg");
	text-align: center;
	margin-bottom:50px;
	
}



/*DIV for Lyrics Button*/
.div.button.1{
	margin-top: 10px;
	text-align: center;
	}

		/*Lyrics Button Style*/	
		.button{
			
		  background-color: #4CAF50; 
		  border: none;
		  color: white;
		  padding: 8px 20px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 14px;
		  margin: 4px 2px;
		  cursor: pointer;
		  border-radius: 12px;
		  transition-duration: 0.5s;
		}
		
		.button:hover{
		background-color: #f44336;
		color: white;	
		}
	

/*DIV for Home Button*/
.div.button.2{
	text-align: center;
	
}
		/* Hide button at the beginning */ 
		 .hiddenStyle{
		display: none;
		}
		/*Home Button Style*/
		
		.button1{
		 
		  background-color: #4CAF50; 
		  border: none;
		  color: white;
		  padding: 8px 25px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 14px;
		  margin: 4px 2px;
		  cursor: pointer;
		  transition-duration: 0.5s;
		}
		
		.button1:hover{
		background-color: #f44336;
		color: white;	
		}

/*Footer*/
.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(0, 255, 153);
   color: black;
   font-family:Comic Sans MS;
   text-align: center;
   
 
}